<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VideoCortoD_Colectores/src/colectores/B_Colecciones.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="colectores.B_Colecciones"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VideoCortoD_Colectores"/>
</launchConfiguration>
