<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/10_Enumeraciones/src/enumeraciones/basico/EjemploEnum.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="enumeraciones.basico.EjemploEnum"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="10_Enumeraciones"/>
</launchConfiguration>
